{% extends "base.html" %} {% block content%}
<div class="weather">
    <div class="time">Pogoda o {{ data['date'].strftime('%H:%M %d-%m-%Y') }}</div>
    <div class="row sunrise">
        <div class="suntime">Wschód<br>{{ data['sunrise'] }}</div>
        <div class="suntime">Zachód<br>{{ data['sunset'] }}</div>
    </div>
    <div class="temperature h1">Temperatura {{ data['temp'] }}</div>
    <div class="temperature h2">Odczuwalna {{ data['feels_like'] }}</div>
    <div class="icon">
        <img src="{{url_for('static', filename=data['icon'])}}" alt="weather_icon">
    </div>
    <div class="description">{{ data['weather'] }}</div>
    <div class="other">{{ data['pressure'] }}</div>
    <div class="row other">
        <div class="other">Siła wiatru<br><i>{{ data['wind_speed'] }}</i></div>
        <div class="other">Zachmurzenie<br><i>{{ data['clouds'] }}</i></div>
        <div class="other">Wilgotność<br><i>{{ data['humidity'] }}</i></div>
    </div>
</div>
{% endblock %}
